{% extends "pageBase.html" %}

{% block metatitle %}Post List{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('pygmentsCss') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/postList.css') }}">

	{{ super() }}
{% endblock %}
{% block pageContent %}
<main>
	<section class="article-list">
		<section class="title"><h1>Post List</h1> <time>All time</time></section>
		{% for post in posts %}
			<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}"><article>
				<div class="post-title">
					<h2>{{ post.title }}</h2>
					<time>{{ post.date }}</time>
				</div>
				<p class="description">{{ post.description }}</p>
				<hr>
			</article></a>
		{% endfor %}
	</section>
</main>
{% endblock %}
