{% extends "pageBase.html" %}

{% block metatitle %}{{ post.title }}{% endblock %}

{% block metatags %}
	<meta property="og:title" content="{{ post.title }}" />
	<meta property="og:description" content="{{ post.description }}" />
	<meta property="og:image" content="{{ post.image if post.image else 'https://bertmad.dk/div/osinter/logo.png'}}" />

	<meta property="og:url" content="https://osinter.dk/blog{{ request.path }}" />
	<meta property="og:locale" content="en_US" />

	<meta property="og:type" content="article" />
	<meta property="article:published_time" content="{{ post.date }}">

{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('pygmentsCss') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/post.css') }}">
	{{ super() }}
{% endblock %}
{% block pageContent %}
<main>
	<article>
		<section class="title"><h1>{{ post.title }}</h1> <time>{{ post.date }}</time></section>
		{{ post.html|safe }}
	</article>
</main>
{% endblock %}
